html{
    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

:root{
    --bg:#0f172a;
    --card:#1e293b;
    --primary:#38bdf8;
    --text:#ffffff;
    --gray:#94a3b8;
}

body{
    background:
    radial-gradient(
        circle at top,
        #0f172a,
        #020617
    );

    color:white;
}
.counter{

    font-size:3rem;

    color:#38bdf8;

    text-shadow:
    0 0 20px
    rgba(56,189,248,.5);
}

header{

    background:
    rgba(10,15,35,0.5);

    backdrop-filter:
    blur(25px);

    border-bottom:
    1px solid rgba(255,255,255,.1);
}

nav{
    display:flex;
    align-items:center;
    padding:20px 0;
}

.logo{
    margin-right:auto;
}
.logo{
    font-size:2rem;
    font-weight:800;

    background:linear-gradient(
        90deg,
        #38bdf8,
        #60a5fa,
        #a855f7
    );

    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
}
.nav-links{
    display:flex;
    gap:40px;
    margin-right:50px;
    list-style: none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

.nav-links a:hover{
    color:var(--primary);
}

.hero-content{
    width:100%;
}


.hero p{

    font-size:1.4rem;

    margin-top:15px;

    margin-bottom:40px;

    color:#cbd5e1;
}

.btn{
    display:inline-block;

    padding:16px 35px;

    border-radius:50px;

    background:
    linear-gradient(
        135deg,
        #38bdf8,
        #3b82f6
    );

    box-shadow:
    0 10px 25px rgba(56,189,248,0.4);

    transition:0.4s;
}
.btn:hover{
    transform:
    translateY(-5px)
    scale(1.05);

    box-shadow:
    0 20px 40px rgba(56,189,248,0.6);
}
.section-title{
    text-align:center;
    margin-bottom:50px;
    font-size:2.5rem;
}

.cards{
    padding:80px 0;
}

.card-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:
    rgba(30,41,59,0.7);

    backdrop-filter:blur(20px);

    border:
    1px solid rgba(255,255,255,0.08);

    overflow:hidden;

    transition:0.4s;
}
.card:hover{
    transform:
    translateY(-15px);

    box-shadow:
    0 25px 50px rgba(56,189,248,0.2);
}
.card img{
    width:100%;
    height:280px;
    object-fit:cover;
}

.card-content{
    padding:20px;
}

.card-content h3{
    margin-bottom:10px;
}

.gallery{
    padding:80px 0;
}

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery-grid img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
}

.pricing{
    padding:80px 0;
}

.price-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.price-card{
    background:var(--card);
    padding:40px;
    border-radius:20px;
    text-align:center;
}

.price-card h3{
    margin-bottom:15px;
}

.price{
    font-size:2.5rem;
    color:var(--primary);
    margin:20px 0;
}

.contact{
    padding:80px 0;
}

.contact-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,textarea{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#1e293b;
    color:white;
}

textarea{
    resize:none;
    height:150px;
}

button{
    border:none;
    cursor:pointer;
}

iframe{
    width:100%;
    height:350px;
    border-radius:15px;
}
footer{

    background:#020617;

    padding:60px 20px;

    text-align:center;

    border-top:
    1px solid rgba(255,255,255,.1);
}

@media(max-width:768px){



.nav-links{
    gap:12px;
    font-size:.9rem;
}

.contact-grid{
    grid-template-columns:1fr;
}
}
.card{
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.price-card{
    transition:.4s;
}

.price-card:hover{
    transform:translateY(-10px);
}

.card img,
.gallery-grid img{
    transition:.4s;
}

.card img:hover,
.gallery-grid img:hover{
    transform:scale(1.05);
}

html{
    scroll-behavior:smooth;
}
.nav-links a{
    position:relative;
}

.nav-links a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:#38bdf8;
    transition:0.3s;
}

.nav-links a:hover::after{
    width:100%;
}
*{
    font-family:'Poppins',sans-serif;
}
@keyframes float{
    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0);
    }
}
.hero-content{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}
.stats{
    display:flex;
    justify-content:space-around;

    text-align:center;

    padding:70px 0;
}

.stats h2{
    color:#38bdf8;
    font-size:3rem;
}
#themeToggle{
    background:#4da6ff;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
    margin-right: 30px;
}
.dark-mode{
    background:#121212;
    color:white;
}

.dark-mode header{
    background:#000;
}

.dark-mode section{
    background:#1a1a1a;
    color:white;
}
#topBtn{
    position:fixed;
    bottom:20px;
    right:20px;

    padding:12px;

    border:none;

    border-radius:50%;

    display:none;

    cursor:pointer;
}
.menu-toggle{
    display:none;
    font-size:30px;
    cursor:pointer;
    color:white;
}
@media(max-width:768px){

    #offerBtn{
        display:block;
        margin:20px auto;
    }

}
@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

  .nav-links{
    display:none;
    flex-direction:column;

    position:absolute;

    top:70px;
    left:0;

    width:100%;

    background:#0b132b;

    z-index:9999;

    padding:20px;
}
    .nav-links.active{
        display:flex;
    }

}
.nav-links li{
    padding:10px 0;
}
.modal{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
rgba(0,0,0,0.7);

justify-content:center;

align-items:center;

z-index:1000;

}
.modal-content{
    background:white;
    color:black;
    padding:30px;
    border-radius:12px;
    text-align:center;
}

.close{

float:right;

font-size:30px;

cursor:pointer;

}
#offerBtn{
    margin-left:20px;
}
.slider-section{
    padding:80px 0;
    text-align:center;
}

.slider{
    position:relative;
    width:80%;
    margin:auto;
}

.slider img{
    width:100%;
    height:500px;
    object-fit:cover;
    border-radius:15px;
}
.hero h1{

    font-size:3.5rem;

    font-weight:800;

    line-height:1.1;

    letter-spacing:-2px;

    background:linear-gradient(
        90deg,
        #ffffff,
        #dbeafe,
        #38bdf8
    );

    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    text-shadow:
    0 0 12px rgba(56,189,248,.35);

}
.hero-buttons{

    display:flex;

    gap:25px;

    justify-content:center;

    flex-wrap:wrap;
}
.hero-tag{

    display:inline-block;

    padding:10px 20px;

    border-radius:30px;

    background:
    rgba(56,189,248,.15);

    color:#38bdf8;

    margin-bottom:20px;

    font-weight:600;
}
.slider button{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    padding:12px 16px;

    background:#38bdf8;

    color:white;

    border:none;

    cursor:pointer;

    border-radius:8px;
}

#prevBtn{
    left:20px;
}

#nextBtn{
    right:20px;
}
small{
    display:block;
    color:red;
    margin-top:5px;
    margin-bottom:10px;
    font-size:14px;
}
/* ==========================
   WEATHER PAGE
========================== */

.weather-page{

    width:90%;
    max-width:700px;

    margin:80px auto;

    text-align:center;

}

.weather-page h1{

    font-size:3rem;

    margin-bottom:20px;

}

.weather-page p{

    color:#cccccc;

    margin-bottom:30px;

}

.search-box{

    display:flex;

    justify-content:center;

    gap:15px;

    flex-wrap:wrap;

}
.search-box input{

    width:320px;

    padding:15px;

    border:none;

    outline:none;

    border-radius:10px;

    font-size:16px;

}
.search-box button{

    padding:15px 30px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    background:#3b82f6;

    color:white;

    transition:.3s;

}

.search-box button:hover{

    background:#2563eb;

}
.weather-card{

    margin-top:40px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border-radius:20px;

    padding:40px;

    box-shadow:0 0 20px rgba(0,0,0,.3);

}
.weather-card img{

    width:100px;

    height:100px;

}
.weather-card h2{

    margin-top:15px;

    font-size:2rem;

}
.weather-card h3{

    margin:15px 0;

    color:#ddd;

}
.weather-card h1{

    font-size:4rem;

    color:#4fc3f7;

}
.weather-card p{

    font-size:20px;

    margin-top:10px;

}
/* ===========================
        TODO PAGE
=========================== */

.todo-page{

    width:90%;
    max-width:800px;
    margin:60px auto;
    text-align:center;

}

.todo-input{

    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    margin:30px 0;

}

.todo-input input{

    width:350px;
    padding:15px;
    border:none;
    outline:none;
    border-radius:10px;
    font-size:16px;

}

.todo-input button{

    padding:15px 30px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#3b82f6;
    color:white;
}
.filters{

    margin:30px;

}

.filters button{

    padding:10px 25px;
    margin:5px;
    border:none;
    cursor:pointer;
    border-radius:8px;

}
#taskList{

    list-style:none;
    margin-top:40px;

}
#taskList li{

    background:rgba(255,255,255,.08);
    margin:15px auto;
    padding:18px;
    width:90%;
    border-radius:12px;

    display:flex;
    justify-content:space-between;
    align-items:center;

}
.completed{

    text-decoration:line-through;
    opacity:.6;

}
.filter-btn.active{
    background:#3b82f6;
    color:white;
}

.completeBtn,
.editBtn,
.deleteBtn{

    padding:8px 12px;
    margin-left:5px;
    border:none;
    cursor:pointer;
    border-radius:6px;
}